.NavBar {
  list-style: none;
  text-align: right;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px 0 0;
}

.NavBar > li {
  box-sizing: content-box;
  display: inline-block;
  width: 60px;
  padding: 10px 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
