.NavBar {
  list-style: none;
  text-align: right;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.NavBar > li {
  box-sizing: content-box;
  display: inline-block;
  width: 60px;
  padding: 10px 20px;
}