.Wrapper {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  height: 100vh;
}

.NavBar {
  height: 50px;
  width: 100%;
}

.Container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;

  text-align: center;
  width: 600px;
  min-height: 400px;
  background-color: #fff;

  padding: 0 20px;
  box-sizing: border-box;
}

.Form {
  width: 100%;
  text-align: left;
  margin: 20px 0 20px 0;
}

hr {
  width: 400px;
}
